<div class="container" id="b-container">
  
    <div class="form">
        <h2 class="title">Login</h2>
        <p class="description">Login to your account get started.</p>
        <form>
            <input type="text" class="form__input" placeholder="Username" />
            <!-- <input type="email" class="form__input" placeholder="Email" /> -->
            <input type="password" class="form__input" placeholder="Password" />
            <!-- <input type="password" class="form__input" placeholder="Confirm Password" /> -->
            <br>
            <button type="submit" class="button">Sign Up</button>
        </form>
        <!-- <p class="form__link">Already have an account? <a href="#">Log in</a></p> -->
    </div>
</div>
