<div class="container mt-5">
  <button class="btn-primary" (click)="navigate()">Create New Order</button>
  <h1 class="text-center">Manage Orders</h1>
  <div class="order-list">
    <!-- Search Section -->
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search...">
          <button class="btn btn-primary" (click)="searchOrders()">Search</button>
        </div>
      </div>
    </div>

    
    <div *ngIf="orders && orders.length > 0">
      <div *ngFor="let order of orders; let i = index">
        <div class="card mb-3">
          <div class="card-header">
            <button class="btn btn-link" (click)="toggleOrderDetails(i)" aria-expanded="false">
              Order #{{ order.OrderId }} - {{ order.SenderName }}
            </button>
          </div>
          <div *ngIf="order.showDetails" class="card-body">
            <p>Order Id: {{ order.OrderId }}</p>
            <p>Sender Name: {{ order.SenderName }}</p>
            <p>Sender Address: {{ order.SenderAddress1 }}</p>
            <p>Receiver Name: {{ order.RecieverName }}</p>
            <p>Receiver Address: {{ order.RecieverAddress1 }}</p>
            <p>City: {{ order.RecieverCity }}</p>
            <!-- <div *ngIf="order.editing">
              <div class="form-group">
                <label>Consignment Weight:</label>
                <input [(ngModel)]="order.weight" class="form-control" placeholder="Weight">
              </div>
              <button class="btn btn-primary save-button" (click)="saveOrderDetails(order)">Save</button>
              <button class="btn btn-secondary cancel-button" (click)="cancelEdit(order)">Cancel</button>
            </div> -->
            <div *ngIf="!order.editing">
              <button class="btn btn-primary edit-button" (click)="editOrder(order)">Edit</button>
              <button class="btn btn-danger delete-button" (click)="deleteOrder(order)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="!orders || orders.length === 0" class="alert alert-info">No orders found.</div>

    <!-- Pagination Section -->
    <div class="pagination justify-content-center mt-4">
      <button class="btn btn-primary" (click)="previousPage()">Previous</button>
      <span class="mx-3">{{ currentPage }} / {{ totalPages }}</span>
      <button class="btn btn-primary" (click)="nextPage()">Next</button>
    </div>
  </div>
</div>
