<div class="container">
    <div >
      <h2 class="step-title">Shipment Details</h2>
      <form (ngSubmit)="submitOrderDetails()" class="shipment-form">
        <div class="form-group">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="goodsType">Type of Goods:</label>
              <select id="goodsType" class="form-control" (change)="onTypeSelected($event)"
                [(ngModel)]="shipmentDetails.goodsType" name="goodsType" required>
                <option value="">Select Type of Goods</option>
                <option *ngFor="let goods of typesOfGoods" [value]="goods">{{goods}}</option>
              </select>
            </div>
  
            <div class="form-group col-md-4">
              <label for="quantity">Quantity:</label>
              <input type="number" id="quantity" class="form-control" [(ngModel)]="shipmentDetails.quantity"
                name="quantity" required>
            </div>
            <div class="form-group col-md-4">
              <label for="weight">Weight (kg):</label>
              <input type="number" id="weight" class="form-control" [(ngModel)]="shipmentDetails.weight" name="weight"
                required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label> Shipment Dimensions</label>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="dimensionsL">Dimensions (L):</label>
              <input type="text" id="dimensionsL" class="form-control" [(ngModel)]="shipmentDetails.dimensionsL"
                name="dimensionsL" required>
            </div>
            <div class="form-group col-md-4">
              <label for="dimensionsW">Dimensions (W):</label>
              <input type="text" id="dimensionsW" class="form-control" [(ngModel)]="shipmentDetails.dimensionsW"
                name="dimensionsW" required>
            </div>
            <div class="form-group col-md-4">
              <label for="dimensionsH">Dimensions (H):</label>
              <input type="text" id="dimensionsH" class="form-control" [(ngModel)]="shipmentDetails.dimensionsH"
                name="dimensionsH" required>
            </div>
            <div class="form-group col-md-4">
              <label for="invoiceNumber">Invoice Number</label>
              <input type="text" id="invoiceNumber" class="form-control" [(ngModel)]="shipmentDetails.invoiceNumber"
                name="invoiceNumber" required>
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="specialRequirements">Special Requirements:</label>
          <textarea id="specialRequirements" class="form-control" [(ngModel)]="shipmentDetails.specialRequirements"
            name="specialRequirements"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add Shipping Info</button>
      </form>
    </div>
    </div>